<% if review.rating == 1  %>
 <span class="glyphicon glyphicon-star"></span>
  <% elsif review.rating == 2 %>
 <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
  <% elsif review.rating == 3 %>
 <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
  <% elsif review.rating == 4 %>
 <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
  <% elsif review.rating == 5 %>
 <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
 <% end %> 
 